/* Her har vi styles til vores computer version */
/* ------------------------------------------------------------- */

$computer: "screen and (min-width: 1200px)";
@media #{$computer} {
  header{background-image: url("../images/heroweb-.jpg");}
  #slideshow{
    background-image: url("../images/bannerweb-.jpg");
    div div:first-child{width: 30%;}
  }
}