/* Her har vi styles til vores grundlæggende setup og mobil */
/* ------------------------------------------------------------- */


* { /* Gælder alt på hele siden */
	box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
	margin: 0; /* Ingen kanter i siden af browser */
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0; /* Ingen ydre margen fra overskrifter */
	padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
	margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
	padding: 0; /* Ingen indre margen fra lister */
	list-style-position: inside; /* List punkter står på linje */
}

li {
	margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
	margin: 0; /* Ingen ydre margen fra paragraffer */
	padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
	display: block; /* Billeder er et element (laver linjeskift) */
	max-width: 100%; /* Bredde må maks fylde 100% */
	height: auto; /* Højden skal tilpasse sig */
}
.bold{font-weight: 700;}
.btn{
	border-radius: 20px;
	max-width: 200px;
}
header{
	background-image: url("../images/heromob-.jpg");
	background-color: $secondary;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	div p{display: none;}
	i{font-size: 30pt;}
}
.ca-icon{font-size: 50pt;}
#slideshow{
	background-image: url("../images/bannermob-.jpg");
	background-color: $secondary;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 340px;
}

#portfolie {
	p{font-size: 30pt;}
	div {
		width: 320px;
		height: 310px;
		background-color: $secondary;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#mob1{
		background-image: url("../images/1mob.jpg");
	}
	#mob2{
		background-image: url("../images/2mob.jpg");
	}
	#mob3{
		background-image: url("../images/3mob.jpg");
	}
	#mob4{
		background-image: url("../images/4mob.jpg");
	}
	#mob5{
		background-image: url("../images/5mob.jpg");
	}
	#mob6{
		background-image: url("../images/6mob.jpg");
	}
}
#omosheadline{font-size: 30pt;}
#about{
	width: 320px;
	height: 252px;
	background-color: $secondary;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../images/aboutmob-.jpg");
}
footer{
	div:first-child{
		background-image: url("../images/bundmob-.jpg");
		background-color: $secondary;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		p{font-size: 20pt;}
		div:last-child{font-size: 40pt;}
	}
}

