/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {
  header{
    background-image: url("../images/herotab-.jpg");
    nav .navbar-brand{font-size: 20pt;}
    div p{display: block;}
  }

}