/* Her har vi styles til vores tablet version */
/* ------------------------------------------------------------- */

$tablet: "screen and (min-width: 768px)";
@media #{$tablet} {
  .about{
    max-width: 540px;
  }
}

#about{
  width: 376px;
  height: 362px;
  background-color: $secondary;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/abouttab-.jpg");
}
